<br><br>
<div class="text-center">
  <h1 class="text-white">{{title}}</h1>
  <p class="text-white">Welcome {{user.name}}</p>
</div>
<hr style="background-color: white;">
<hr style="background-color: white;">

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card  rounded">
        <div class="card-body bg-danger ">
          <h1 class="card-title text-center text-white mt-1">50<i class="fa fa-tasks ml-3" aria-hidden="true"
              style="font-size: 50px;"></i></h1>
          <h5>
            <p class="card-text text-center text-white mt-2"> PROJECTS</p>
          </h5>
        </div>
        <div class="card-footer ">
          <h5><a class="list unstyled" href="/projects" style="text-decoration: none;">View all</a></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card rounded">
        <div class="card-body bg-warning ">
          <h1 class="card-title text-center text-white mt-1">50<i class="fa fa-book ml-3" aria-hidden="true"
              style="font-size: 50px;"></i></h1>
          <h5>
            <p class="card-text text-center text-white mt-2">BLOGS</p>
          </h5>
        </div>
        <div class="card-footer ">
          <h5><a class="" href="/blogs" style="text-decoration: none;">View all</a></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card rounded">
        <div class="card-body bg-success ">
          <h1 class="card-title text-center text-white mt-1">50<i class="fa fa-mobile ml-3" aria-hidden="true"
              style="font-size: 50px;"></i></h1>
          <h5>
            <p class="card-text text-center text-white mt-2">CONTACTS</p>
          </h5>
        </div>
        <div class="card-footer ">
          <h5><a class="list unstyled" href="/contacts" style="text-decoration: none;">View all</a></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card rounded">
        <div class="card-body bg-primary ">
          <h1 class="card-title text-center text-white mt-1">70<i class="fa fa-envelope ml-3" aria-hidden="true"
              style="font-size: 50px;"></i></h1>
          <h5>
            <p class="card-text text-center text-white mt-2">SUBSCRIBERS</p>
          </h5>
        </div>
        <div class="card-footer ">
          <h5><a class="list unstyled" href="/subscribe" style="text-decoration: none;">View all</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>