<div>
 
    <h1 class="text-white text-center mt-4">Blog detail</h1>
    <hr>
    <br>
       {{#if success}}
    <p class="alert-success">Blog updated successfully.</p>
    {{/if}}

    <form action="/blogs/{{blog._id}}" method="POST" class="text-center col-md-8 " style="margin-left: 200px;">
        <div class="form-row">
            <div class="form-group col-md-6 text-white">
                <label for="title">Title</label>
                <input type="tetx" name="title" class="form-control" id="title" placeholder="Project title" value="{{blog.title}}">
            </div>
            <div class="form-group col-md-6 text-white">
                <label for="image">Image</label>
                <input type="text" name="image" class="form-control" id="image" placeholder="Project image url" value="{{blog.imgLink1}}">
            </div>
        </div>
        <div class="form-group text-white">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" placeholder="Description" name="description" rows="5">{{blog.description}}</textarea>
        </div>
        
        
        <button type="submit" class="btn btn-block btn-primary">Update</button>
    </form>
</div>